.background_header::after {
    background-color: var(--app-background-stripe);
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 127px;
    content: "";
}

.background_body {
    height: 85vh;
}

.chatContainer {
    top: 19px;
    width: 80%;
    height: calc(100% - 38px);

    .chatDetails {
        position: relative;
        top: 0;
        display: flex;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0 auto;
        box-shadow: 0 6px 18px rgba(var(--shadow-rgb), .05);
        background-color: var(--panel-background-lighter);
        background-repeat: repeat-x;
        background-position: 100% 0;
        border-radius: 0;
        transform-origin: center;

        animation: _2xtgz .3s cubic-bezier(.1,.82,.25,1);
    }
}